{% extends "base.html" %}
{% block content %}
<div class="row">
    {% if access %}
        <div class="tab-content" style="padding:15px;padding-left:25px;width:50%">
            <div class="tab-pane active">
                <div class="card">
                    <div class="card-header">Welcome VIP:</div>
                    <div class="card-body">
                        TODO: make fancy premium things
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="tab-content" style="padding:15px;padding-left:25px;width:50%">
            <div class="tab-pane active">
                <div class="card">
                    <div class="card-header">VIP Only:</div>
                    <div class="card-body">
                        <form action="{% url 'premium' %}" method="POST">
                            <div class="form-group">
                                <label for="access">Secret VIP Access Token:</label>
                                <input type="text" class="form-control" id="access" name="access">
                            </div>
                             <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
