<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Screeches">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fa fa-fw fa-list-alt"></i>
            <span class="nav-link-text">Screeches</span>
        </a>
    </li>
    <!--
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
        <a class="nav-link" href="{% url 'messages' %}">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="nav-link-text">Messages</span>
        </a>
    </li>
    -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profile">
        <a class="nav-link" href="{% url 'profile' request.user.id %}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Profile</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Owl Swarm">
        <a class="nav-link" href="{% url 'friend_list' %}">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Owl swarm</span>
        </a>
    </li>
    <!--
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Calender">
        <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-calendar"></i>
            <span class="nav-link-text">Calender</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="ScreechTune">
        <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-music"></i>
            <span class="nav-link-text">ScreechTune</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="OwlTube">
        <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-video-camera"></i>
            <span class="nav-link-text">OwlTube</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Premium">
        <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-diamond"></i>
            <span class="nav-link-text">Premium</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="OwlCash">
        <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-btc"></i>
            <span class="nav-link-text">OwlCash</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Feedback">
        <a class=cd Fu  "nav-link" href="index.html">
            <i class="fa fa-fw fa-commenting-o"></i>
            <span class="nav-link-text">Feedback</span>
        </a>
    </li>
    -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
        <a class="nav-link" href="{% url 'settings' %}">
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Settings</span>
        </a>
    </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
        </a>
    </li>
</ul>